
*.pyc

.project

.pydevproject

*.dat

*.gdf

results/test/SimulationConfig.cfg

results/goc-goc-test/mutual_information

results/goc-goc-test/SimulationConfig.cfg

src/NestModule/GLPlasticityModule/aclocal.m4

src/NestModule/GLPlasticityModule/autom4te.cache/output.0

src/NestModule/GLPlasticityModule/autom4te.cache/output.1

src/NestModule/GLPlasticityModule/autom4te.cache/requests

src/NestModule/GLPlasticityModule/autom4te.cache/traces.0

src/NestModule/GLPlasticityModule/autom4te.cache/traces.1

src/NestModule/GLPlasticityModule/compile

src/NestModule/GLPlasticityModule/config.guess

src/NestModule/GLPlasticityModule/config.sub

src/NestModule/GLPlasticityModule/configure

src/NestModule/GLPlasticityModule/depcomp

src/NestModule/GLPlasticityModule/install-sh

*.m4

src/NestModule/GLPlasticityModule/libltdl/argz.c

src/NestModule/GLPlasticityModule/libltdl/argz_.h

src/NestModule/GLPlasticityModule/libltdl/config-h.in

src/NestModule/GLPlasticityModule/libltdl/config/compile

src/NestModule/GLPlasticityModule/libltdl/config/config.guess

src/NestModule/GLPlasticityModule/libltdl/config/config.sub

src/NestModule/GLPlasticityModule/libltdl/config/depcomp

src/NestModule/GLPlasticityModule/libltdl/config/install-sh

src/NestModule/GLPlasticityModule/libltdl/config/ltmain.sh

src/NestModule/GLPlasticityModule/libltdl/config/missing
